body{
    background-color: #DEBBA6;

}

#logo{
    width: 180px;
    height: 174.86px;
    left: 500px;
    top: 6px;

    background: url(343.jpg);
    border-radius: 87.4286px;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #902928;
    
    
}

#campoBusca{
    display: flex;
    background-color:#DEBBA6;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:268px;
    height:32px;
}
  
#busca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
}
  
#btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}

#todasReceitas{
    display: flex;
    flex-direction: column;
    width: 234;
    height: 1062;
    margin: 5%;
}

#receita{
    display: flex;
    justify-content: baseline;
    padding: 5px;
    margin: 25px;
    background-color: #F2E8CD;
    border-radius: 50px;
}

#receitaInvert{
    display: flex;
    justify-content: baseline;
    flex-direction: row-reverse;
    padding: 5px;
    margin: 25px;
    background-color: #902928;
    border-radius: 50px;
}

#comida{
    padding: 10px;
    margin: 10px;
    width: 230px;
    height: 230px;

}
#primeiravista{
    font-family: 'Snell Roundhand', sans-serif; 
    font-size: 90px;
}
#chefs{
    display: flex;
    justify-content: space-around;
    color: #8078D8;

}
#prato_invert{
    display: flex;
    justify-content: end;
    font-size: 50px;

}
#prato{
    font-size: 50px;
}
p{
 font-size: 20px;
}