html,
body,
main {
    width: 100%;
    height: 100%;
}

.container {
    /* display: flex; */
    flex: 1 1 auto;
}

.btn-green {
    color: #fff;
    background-color: #008584;
    border-color: #000000;
}

.btn-green:hover {
    color: #fff;
    background-color: #015959;
    border-color: #000000;
}

.imgSeta {
    width: 100%;
    height: 100%;
}

.nuvem {
    width: 50%;
}

.imgRobo {
    width: 55%;
}
